<nav class="navbar navbar-light shadow-lg bg-dark py-4">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="../assets/image/logo.png" class="img-fluid shadow-lg rounded" style="width:'15%'" [alt]="">
        </a>
        <a class="navbar-brand">
            <img src="../assets/image/title.png" class="img-fluid shadow-lg rounded" style="width:'80%'" [alt]="">
        </a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Movie search" aria-label="">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
    </div>
</nav>
<app-navbar></app-navbar>
<router-outlet></router-outlet>