<div class="container-fluid bgS">
    <div *ngFor="let item of carouselObject" class="container-fluid body mt-2">
        <div class="row justify-content-between">
            <div class="col-4 mt-4">
                <h3 class="py-2 text-light">{{item.category_name_trans}}</h3>
            </div>
            <div class="col-2 mt-5" (click)="goToSeeMore(item)">
                <a class="text-white mouse">Ver más<i class="pi pi-chevron-down"  style="font-size: 1rem"></i></a>
            </div>
            <app-carousel-image [elements]="item.movies" [responsiveOptions]="popularOptions" [interval]="4500"></app-carousel-image>
        </div>
    </div>
</div>
