<!-- <p-carousel [value]="elements" styleClass="custom-carousel" [numVisible]="10" [numScroll]="1" [responsiveOptions]="responsiveOptions" [autoplayInterval]="interval">
    <ng-template let-element pTemplate="item">
        <div class="container-fluid p-3 rounded mt-2">
            <div class="row">
                <div class="col-md-12 p-0">
                    <img [src]="element.key" class="img-fluid shadow rounded" alt="Responsive image" style="width:'100%'" (click)="goToYoutube(element)">
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel> -->

<!-- <owl-carousel-o [options]="elements" class="videosCarrusel">
    <ng-container *ngFor="let slide of videos">
        <ng-template carouselSlide [id]="slide.id">
            <div class="card">
                <youtube-player class="card-img-top" videoId={ {slide.videoId}} suggestedQuality="default" [height]="290" [width]="454" [startSeconds]="0" [endSeconds]="">
                </youtube-player>
                <div class="card-body">
                    <p class="card-text">Titulo del video</p>
                </div>
            </div>
        </ng-template>
    </ng-container>
</owl-carousel-o> -->
