<div class="container-fluid body shadow-lg">
    <h3 class="py-2 text-light">{{ this.carouselTitles[0].name }}</h3>
    <app-carousel-image [elements]="actualMovies" [responsiveOptions]="popularOptions" [interval]="4500"></app-carousel-image>
</div>

<div class="container-fluid body shadow-lg mt-2">
    <h3 class="py-2 text-light">{{this.carouselTitles[3].name}}</h3>
    <app-carousel-image [elements]="upcomingMovies" [responsiveOptions]="popularOptions" [interval]="4500"></app-carousel-image>
</div>

<div class="container-fluid body shadow-lg mt-2">
    <h3 class="py-2 text-light">{{this.carouselTitles[1].name}}</h3>
    <app-carousel-image [elements]="topRatedMovies" [responsiveOptions]="popularOptions" [interval]="4500"></app-carousel-image>
</div>

<div class="container-fluid body shadow-lg mt-2">
    <h3 class="py-2 text-light">{{this.carouselTitles[2].name}}</h3>
    <app-carousel-image [elements]="horrorMovies" [responsiveOptions]="popularOptions" [interval]="4500"></app-carousel-image>
</div>
